# Numerous always-ignore extensions & files
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~
package-lock.json

# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
.idea
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db

# Misc folders
.CVS
.git
.hg
.svn
bower_components
dist
build

# Node.js
node_modules
npm-debug.log