/*
@font-face {
  font-family: '#{$font-text-name} Thin';
  src: url('../../fonts/#{$font-text-path-name}-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Thin Italic';
  src: url('../../fonts/#{$font-text-path-name}-ThinItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Extra Light';
  src: url('../../fonts/#{$font-text-path-name}-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Extra Light Italic';
  src: url('../../fonts/#{$font-text-path-name}-ExtraLightItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}
*/

@font-face {
  font-family: '#{$font-text-name} Light';
  src: url('../../fonts/#{$font-text-path-name}-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Light Italic';
  src: url('../../fonts/#{$font-text-path-name}-LightItalic.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Regular';
  src: url('../../fonts/#{$font-text-path-name}-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Regular Italic';
  src: url('../../fonts/#{$font-text-path-name}-RegularItalic.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

/*
@font-face {
  font-family: '#{$font-text-name} Medium';
  src: url('../../fonts/#{$font-text-path-name}-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Medium Italic';
  src: url('../../fonts/#{$font-text-path-name}-MediumItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}
*/

@font-face {
  font-family: '#{$font-text-name} Semi Bold';
  src: url('../../fonts/#{$font-text-path-name}-SemiBold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Semi Bold Italic';
  src: url('../../fonts/#{$font-text-path-name}-SemiBoldItalic.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Bold';
  src: url('../../fonts/#{$font-text-path-name}-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Bold Italic';
  src: url('../../fonts/#{$font-text-path-name}-BoldItalic.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Extra Bold';
  src: url('../../fonts/#{$font-text-path-name}-ExtraBold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Extra Bold Italic';
  src: url('../../fonts/#{$font-text-path-name}-ExtraBoldItalic.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

/*
@font-face {
  font-family: '#{$font-text-name} Black';
  src: url('../../fonts/#{$font-text-path-name}-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Black Italic';
  src: url('../../fonts/#{$font-text-path-name}-BlackItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}
*/
