doctype html
html
  head
    meta(charset='utf-8')
    block title
      title Homepage
    meta(content='width=device-width, initial-scale=1' name='viewport')

    //- favicon block start
    //- favicon block end

    link(rel='stylesheet' href='/css/vendor.min.css')
    link(rel='stylesheet' href='/css/main.min.css')

  body
    block content

    //- script(src='/js/vendor.min.js' defer)
    script(src='/js/app.min.js' defer)
