.greeting {
  position: relative;
  overflow: hidden;
  padding: rem(150) rem(20) rem(50);
  box-shadow: $box-shadow;
  background: $color-primary;

  &__text {
    font-size: rem(30);
    color: $color-accent;
  }
}
